.message.message-red-semat .message-header {
  background-color:#a51d1d;
  color: #fff;
}

.message.message-red-semat .message-body {
  background-color: #fff;
  border-color: #a51d1d;
  color: #a51d1d;
}