/* Datepicker */
.datepicker-date-display{
    background: -webkit-linear-gradient(40deg, #a51d1d, #d92626) !important;
    background: linear-gradient(40deg, #a51d1d, #d92626) !important;
}

.datepicker-table td.is-selected{
    background: #b3e5fc;
    background: -webkit-linear-gradient(40deg, #a51d1d, #d92626) !important;
    background: linear-gradient(40deg, #a51d1d, #d92626) !important;
    color: #fff !important;
}

.datepicker-table td.is-today{
    color: #a51d1d;
}

.datepicker-day-button:active/* ,
.datepicker-day-button .is-selected:active */{
    background-color: #d92626 !important;
}

.datepicker-footer .datepicker-cancel,
.datepicker-footer .datepicker-done{
    color:#a51d1d;
}

.datepicker-footer .datepicker-clear{
    color:#d92626;
}

.month-prev, .month-next{

}

.datepicker-controls .select-month input {
    width: 100px !important;
}