.dropdown-content li>span {
    color: #a51d1d !important;
  }
  
  .dropdown-content li>a {
    color: #a51d1d !important;
  }
  
  .select-content li>span {
    color: #a51d1d !important;
  }
  
  .select-content li>a {
    color: #a51d1d !important;
  }

  .select-dropdown li.disabled, 
  .select-dropdown li.disabled>span, 
  .select-dropdown li.optgroup {
    color: rgba(0,0,0,0.3) !important;
    background-color: transparent;
}

.dropdown-content.collection li>span {
  color: #444444 !important;
}

nav ul a.dropdown-trigger.avatar-trigger {
  font-size: 4rem;
}

.dropdown-trigger img.avatar {
  width: 45px;
  height: 45px;
  margin-top: 0.5rem;
}