.material-tooltip {
    background-color:#ff8c66;
    border-radius: 3px;
    max-width: 300px !important;

    &.default-toolitip {
        background-color:#424242;
        border-radius: 3px;
        max-width: 300px !important;
    }
}

.backdrop {
    background-color:#ff8c66;
    border-radius: 3px;
    max-width: 300px !important;

    &.default-toolitip {
        background-color:#424242;
        border-radius: 3px;
        max-width: 300px !important;
    }
}

.backdrop {
    background-color:#ff8c66;  
    max-width: 300px !important;

    &.default-toolitip {
        background-color:#424242;
        border-radius: 3px;
        max-width: 300px !important;
    }
}

