@charset "UTF-8";
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Ubuntu" !important;
}

main {
  flex: 1 0 auto;
}

header,
main,
footer {
  padding-left: 300px !important;
}

@media only screen and (max-width: 992px) {
  header,
main,
footer {
    padding-left: 0 !important;
  }

  .brand-logo img {
    width: 150px;
    height: 54px;
  }
}
body.auth-view {
  /* -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}
body.auth-view header, body.auth-view main, body.auth-view footer {
  padding-left: 0px !important;
}
body.auth-view .brand-logo img {
  width: 150px;
  height: 64px;
}
@media only screen and (max-width: 992px) {
  body.auth-view header .brand-logo img {
    width: 150px;
    height: 54px;
  }
}

.bg-light-opacity-8 {
  background-color: rgba(255, 255, 255, 0.8);
}

.iribarren-yellow {
  background-color: #e1a02e !important;
}
.iribarren-yellow-text {
  color: #e1a02e !important;
}

.iribarren-wine {
  background-color: #a51d1d !important;
}
.iribarren-wine-text {
  color: #a51d1d !important;
}

.iribarren-grey {
  background-color: #a4a4a5 !important;
}
.iribarren-grey-text {
  color: #a4a4a5 !important;
}

.social {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.social i {
  color: #ffffff;
  font-size: 40px !important;
}

.banesco-green {
  background-color: #4f886a !important;
}
.banesco-green-text {
  color: #4f886a !important;
}

.banesco-blue {
  background-color: #003b70 !important;
}
.banesco-blue-text {
  color: #003b70 !important;
}

.banesco-red {
  background-color: #e0251c !important;
}
.banesco-red-text {
  color: #e0251c !important;
}

.x100-banco-blue {
  background-color: #032563 !important;
}
.x100-banco-blue-text {
  color: #032563 !important;
}

.x100-banco-yellow {
  background-color: #EC7022 !important;
}
.x100-banco-yellow-text {
  color: #EC7022 !important;
}

.bod-yellow {
  background-color: #FFE200 !important;
}
.bod-yellow-text {
  color: #FFE200 !important;
}

.bod-green {
  background-color: #72C267 !important;
}
.bod-green-text {
  color: #72C267 !important;
}

.bnc-green {
  background-color: #0C894B !important;
}
.bnc-green-text {
  color: #0C894B !important;
}

.bnc-yellow {
  background-color: #FE8100 !important;
}
.bnc-yellow-text {
  color: #FE8100 !important;
}

.bnc-blue {
  background-color: #003C81 !important;
}
.bnc-blue-text {
  color: #003C81 !important;
}

.peach {
  background-color: #F63 !important;
}
.peach-text {
  color: #F63 !important;
}

.paper-cut:after {
  content: " ";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background: -webkit-linear-gradient(#fff 0, transparent 0), -webkit-linear-gradient(135deg, #F5F5F5 33.33%, transparent 33.33%) 0 0, #F5F5F5 -webkit-linear-gradient(45deg, #F5F5F5 33.33%, #fff 33.33%) 0 0;
  background: -o-linear-gradient(#fff 0, transparent 0), -o-linear-gradient(135deg, #F5F5F5 33.33%, transparent 33.33%) 0 0, #F5F5F5 -o-linear-gradient(45deg, #F5F5F5 33.33%, #fff 33.33%) 0 0;
  background: -moz-linear-gradient(#fff 0, transparent 0), -moz-linear-gradient(135deg, #F5F5F5 33.33%, transparent 33.33%) 0 0, #F5F5F5 -moz-linear-gradient(45deg, #F5F5F5 33.33%, #fff 33.33%) 0 0;
  background-repeat: repeat-x;
  background-size: 0 100%, 14px 27px, 14px 27px;
}

a.btn-app,
button.btn-app {
  display: block;
  border-radius: 2px !important;
  position: relative;
  padding: 15px 5px !important;
  margin: 1rem 0 0 0;
  min-width: 80px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  font-size: 14px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
a.btn-app > i,
button.btn-app > i {
  font-size: 50px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
a.btn-app:hover,
button.btn-app:hover {
  background-color: #2bbbad;
}

.fixed-plugin {
  position: absolute;
  top: 180px;
  right: 0;
  width: 64px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1031;
  border-radius: 8px 0 0 8px;
  text-align: center;
}
.fixed-plugin i {
  color: #FFFFFF;
  padding: 15px;
  border-radius: 0 0 6px 6px;
  width: auto;
  font-size: 40px;
  line-height: 50px;
}

.sidenav {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sidenav.sidenav-background {
  background-image: url("../images/bg-4.jpg");
}
.sidenav .logo-container {
  padding: 0 16px;
  height: 62px;
  line-height: 62px;
  font-size: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
}
.sidenav .logo-container img {
  width: 160px;
  height: 62px;
}

@media only screen and (max-width: 992px) {
  .sidenav .logo-container {
    height: 52px;
    line-height: 52px;
  }
  .sidenav .logo-container img {
    width: 140px;
    height: 52px;
  }
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Audiowide";
  src: url("../fonts/Audiowide-Regular.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "BlackOps";
  src: url("../fonts/BlackOpsOne-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
}
.font-lato {
  font-family: "Lato";
}

.font-audiowide {
  font-family: "Audiowide" !important;
}

.font-nunito {
  font-family: "Nunito";
}

.font-blackops {
  font-family: "BlackOps" !important;
}

.font-ubuntu {
  font-family: "Ubuntu" !important;
}

.dropdown-content li > span {
  color: #a51d1d !important;
}

.dropdown-content li > a {
  color: #a51d1d !important;
}

.select-content li > span {
  color: #a51d1d !important;
}

.select-content li > a {
  color: #a51d1d !important;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: rgba(0, 0, 0, 0.3) !important;
  background-color: transparent;
}

.dropdown-content.collection li > span {
  color: #444444 !important;
}

nav .breadcrumb-nav,
nav.breadcrumb-nav,
.breadcrumb-nav {
  background-color: transparent;
  width: 100%;
  height: 44px !important;
  padding: 10px !important;
  border-radius: 2px;
  margin-top: 1rem !important;
  margin-bottom: 0.2rem !important;
}

.breadcrumb {
  font-size: 16px;
  color: #666666;
  display: inline-block;
}
.breadcrumb:hover {
  color: #444444 !important;
}
.breadcrumb i, .breadcrumb [class^=mdi-], .breadcrumb [class*=mdi-], .breadcrumb [class^=icon-], .breadcrumb [class*=icon-], .breadcrumb i.material-icons {
  display: inline-block;
  float: left;
  font-size: 16px;
}
.breadcrumb:before {
  content: "" !important;
  color: #666666;
  vertical-align: top;
  display: inline-block;
  font-family: "icomaterialize" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}
.breadcrumb:first-child:before {
  display: none;
}
.breadcrumb:last-child {
  color: #333333;
  font-weight: bold;
  cursor: default;
}

@media only screen and (max-width: 992px) {
  .breadcrumb:last-child {
    color: #333333;
    font-weight: bold;
    cursor: default;
    margin-bottom: 2rem;
  }
}
input:not([type]),
input[type=text]:focus:not(.browser-default),
input[type=password]:focus:not(.browser-default),
input[type=email]:focus:not(.browser-default),
input[type=url]:focus:not(.browser-default),
input[type=time]:focus:not(.browser-default),
input[type=date]:focus:not(.browser-default),
input[type=datetime]:focus:not(.browser-default),
input[type=datetime-local]:focus:not(.browser-default),
input[type=tel]:focus:not(.browser-default),
input[type=number]:focus:not(.browser-default),
input[type=search]:focus:not(.browser-default),
textarea.materialize-textarea:focus {
  border-bottom: 1px solid #a51d1d !important;
  -webkit-box-shadow: 0 1px 0 0 #a51d1d !important;
  box-shadow: 0 1px 0 0 #a51d1d !important;
}

.input-field label.active {
  color: #a51d1d !important;
}

.input-field .prefix.active {
  color: #a51d1d !important;
}

.input-field .prefix {
  color: #9e9e9e;
}

input:not([type]):disabled,
input:not([type])[readonly=readonly],
input[type=text]:not(.browser-default):disabled,
input[type=text]:not(.browser-default)[readonly=readonly],
input[type=password]:not(.browser-default):disabled,
input[type=password]:not(.browser-default)[readonly=readonly],
input[type=email]:not(.browser-default):disabled,
input[type=email]:not(.browser-default)[readonly=readonly],
input[type=url]:not(.browser-default):disabled,
input[type=url]:not(.browser-default)[readonly=readonly],
input[type=time]:not(.browser-default):disabled,
input[type=time]:not(.browser-default)[readonly=readonly],
input[type=date]:not(.browser-default):disabled,
input[type=date]:not(.browser-default)[readonly=readonly],
input[type=datetime]:not(.browser-default):disabled,
input[type=datetime]:not(.browser-default)[readonly=readonly],
input[type=datetime-local]:not(.browser-default):disabled,
input[type=datetime-local]:not(.browser-default)[readonly=readonly],
input[type=tel]:not(.browser-default):disabled,
input[type=tel]:not(.browser-default)[readonly=readonly],
input[type=number]:not(.browser-default):disabled,
input[type=number]:not(.browser-default)[readonly=readonly],
input[type=search]:not(.browser-default):disabled,
input[type=search]:not(.browser-default)[readonly=readonly],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly=readonly] {
  color: #9e9e9e;
  border-bottom: 1px dotted #9e9e9e;
}

input:not([type]):disabled + label.active,
input:not([type])[readonly=readonly] + label.active,
input[type=text]:disabled:not(.browser-default) + label.active,
input[type=text][readonly=readonly]:not(.browser-default) + label.active,
input[type=password]:disabled:not(.browser-default) + label.active,
input[type=password][readonly=readonly]:not(.browser-default) + label.active,
input[type=email]:disabled:not(.browser-default) + label.active,
input[type=email][readonly=readonly]:not(.browser-default) + label.active,
input[type=url]:disabled:not(.browser-default) + label.active,
input[type=url][readonly=readonly]:not(.browser-default) + label.active,
input[type=time]:disabled:not(.browser-default) + label.active,
input[type=time][readonly=readonly]:not(.browser-default) + label.active,
input[type=date]:disabled:not(.browser-default) + label.active,
input[type=date][readonly=readonly]:not(.browser-default) + label.active,
input[type=datetime]:disabled:not(.browser-default) + label.active,
input[type=datetime][readonly=readonly]:not(.browser-default) + label.active,
input[type=datetime-local]:disabled:not(.browser-default) + label.active,
input[type=datetime-local][readonly=readonly]:not(.browser-default) + label.active,
input[type=tel]:disabled:not(.browser-default) + label.active,
input[type=tel][readonly=readonly]:not(.browser-default) + label.active,
input[type=number]:disabled:not(.browser-default) + label.active,
input[type=number][readonly=readonly]:not(.browser-default) + label.active,
input[type=search]:disabled:not(.browser-default) + label.active,
input[type=search][readonly=readonly]:not(.browser-default) + label.active,
textarea:disabled.materialize-textarea + label.active,
textarea[readonly=readonly].materialize-textarea + label.active {
  color: #9e9e9e !important;
}

[type=checkbox].filled-in.blue:checked + span:not(.lever):after {
  border: 2px solid #a51d1d !important;
  background-color: #a51d1d !important;
}

.preloader {
  position: fixed;
  top: 40%;
  width: 100% !important;
  height: 100% !important;
  z-index: 1000;
  opacity: 0.8;
}

.preloader-overlay {
  position: fixed !important;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #dfc;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.collection .collection-item.avatar {
  min-height: 64px !important;
  padding-left: 72px;
  position: relative;
}
.collection .collection-item.avatar .collection-title {
  font-weight: bold;
  color: #222222 !important;
}
.collection .collection-item.avatar .collection-subtitle {
  font-weight: normal;
  color: #444444 !important;
}
.collection .collection-item a.collection-item {
  color: #444444 !important;
}
.collection .collection-item .collection-footer {
  min-height: 40px !important;
  color: #666666 !important;
}
.collection .collection-item.amount-block {
  height: 70px;
  border-top: 1px dashed #d0d3d8;
  border-bottom: 1px dashed #d0d3d8;
}
.collection .collection-item.amount-block .total:nth-child(1) {
  border-right: 1px dashed #d0d3d8;
}
.collection .collection-item.amount-block .total {
  padding: 10px;
  padding-top: 0px;
  display: inline-block;
  width: 49%;
  height: 68px;
}
.collection .collection-item.amount-block .total .side-heading {
  padding-left: 0px;
  color: #67676c;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
}
.collection .collection-item.amount-block .total .amount {
  text-align: center;
  color: #6fd64b;
  font-size: 22px;
  font-weight: 400;
}

/* Datepicker */
.datepicker-date-display {
  background: -webkit-linear-gradient(40deg, #a51d1d, #d92626) !important;
  background: linear-gradient(40deg, #a51d1d, #d92626) !important;
}

.datepicker-table td.is-selected {
  background: #b3e5fc;
  background: -webkit-linear-gradient(40deg, #a51d1d, #d92626) !important;
  background: linear-gradient(40deg, #a51d1d, #d92626) !important;
  color: #fff !important;
}

.datepicker-table td.is-today {
  color: #a51d1d;
}

.datepicker-day-button:active {
  background-color: #d92626 !important;
}

.datepicker-footer .datepicker-cancel,
.datepicker-footer .datepicker-done {
  color: #a51d1d;
}

.datepicker-footer .datepicker-clear {
  color: #d92626;
}

.datepicker-controls .select-month input {
  width: 100px !important;
}

.material-tooltip {
  background-color: #ff8c66;
  border-radius: 3px;
  max-width: 300px !important;
}

.backdrop {
  background-color: #ff8c66;
  border-radius: 3px;
  max-width: 300px !important;
}

.backdrop {
  background-color: #ff8c66;
  max-width: 300px !important;
}

.iribarren-yellow-gradient {
  background: -webkit-linear-gradient(40deg, #e1a02e, #e6ad4d) !important;
  background: linear-gradient(40deg, #e1a02e, #e6ad4d) !important;
}

.iribarren-wine-gradient {
  background: -webkit-linear-gradient(40deg, #a51d1d, #d92626) !important;
  background: linear-gradient(40deg, #a51d1d, #d92626) !important;
}

.iribarren-grey-gradient {
  background: -webkit-linear-gradient(40deg, #a2a8a9, #bdc1c2) !important;
  background: linear-gradient(40deg, #a2a8a9, #bdc1c2) !important;
}

.bdv-gradient {
  background: -webkit-linear-gradient(90deg, #fdd835, #0d47a1, #e53935) !important;
  background: linear-gradient(90deg, #fdd835, #0d47a1, #e53935) !important;
}

.red-lighten-gradient {
  background: -webkit-linear-gradient(45deg, #ef5350, #e53935) !important;
  background: linear-gradient(45deg, #ef5350, #e53935) !important;
}

.carousel .carousel-item > img {
  width: 100%;
  border-radius: 3px;
  max-height: 523px;
}

.tabs .tab a {
  color: rgba(165, 29, 29, 0.7);
  /*Custom Text Color*/
}

.tabs .tab a:hover {
  color: #a51d1d;
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active .tabs .tab a:hover.active {
  color: #a51d1d;
  /*Custom Text Color While Active*/
  background-color: rgba(165, 29, 29, 0.2);
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color: #a51d1d;
  /*Custom Color Of Indicator*/
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #a51d1d;
}

.payment-form .btn-radio {
  display: block;
  border-radius: 2px !important;
  position: relative;
  padding: 15px 5px !important;
  margin: 1rem 0 0 0;
  min-width: 80px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  font-size: 14px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
.payment-form .btn-radio > i {
  font-size: 50px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
.payment-form .btn-radio > i > img {
  width: 50px;
  height: 50px;
}
.payment-form .btn-radio:hover {
  background-color: #2bbbad;
}
.payment-form input:checked + label.btn-radio {
  background-color: #fff !important;
  color: #333;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.payment-form input:checked + label.btn-radio[for=banesco] {
  color: #4f886a !important;
}
.payment-form input:checked + label.btn-radio[for=bnc] {
  color: #003C81 !important;
}
.payment-form input:checked + label.btn-radio[for=bicentenario] {
  color: #c62828 !important;
}
.payment-form input:checked + label.btn-radio[for=percent-banco] {
  color: #EC7022 !important;
}
.payment-form input:checked + label.btn-radio[for=bod] {
  color: #72C267 !important;
}
.payment-form input:checked + label.btn-radio:after {
  content: "✓";
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  border-radius: 100%;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  top: -10px;
  right: -10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

/*# sourceMappingURL=owner.css.map */
