@font-face {
  font-family: 'money';
  src:  url('icons/money.eot?od9hzb');
  src:  url('icons/money.eot?od9hzb#iefix') format('embedded-opentype'),
    url('icons/money.ttf?od9hzb') format('truetype'),
    url('icons/money.woff?od9hzb') format('woff'),
    url('icons/money.svg?od9hzb#money') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'money' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-bss:before {
  content: "\e90a";
}
.i-percent-banco:before {
  content: "\e900";
}
.i-banesco:before {
  content: "\e901";
}
.i-banesco-logo:before {
  content: "\e902";
}
.i-bicentenario:before {
  content: "\e903";
}
.i-bnc:before {
  content: "\e904";
}
.i-bod:before {
  content: "\e905";
}
.i-bod-logo:before {
  content: "\e906";
}
.i-petro:before {
  content: "\e907";
}
.i-petro-logo:before {
  content: "\e908";
}
.i-semat:before {
  content: "\e909";
}
