<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recibo de Solvencia</title>
</head>
<body>
    <div style="background: #a51d1d; color: white">
        <h1 style="text-align: center">Planilla Verificada </h1>
    </div>
    <div>
        <p style="text-align: center">Estimado Contribuyente, tu pago ha sido verificado con exito, le hemos adjuntado su planilla verificada de declaracion de actividad economica</p>
    </div>

</body>
</html>