<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recibo de Solvencia</title>
</head>
<body>
    <div style="background: #19d4ff; color: white">
        <h1 style="text-align: center">Recibo de Solvencia</h1>
    </div>
    <div>
        <p style="text-align: center">Usuario de Sysprim, tu pago ha sido verificado con exito, le hemos adjuntado su recibo de solvencia</p>
    </div>

</body>
</html>