<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PLANILLA</title>
</head>
<body>
<div style="background: #A51D1D; color: white">
    <h1 style="text-align: center">PLANILLA DE DECLARACIÓN DE ACTIVIDAD ÉCONOMICA</h1>
</div>
<div>
    <p style="text-align: center">Estimado contribuyente,te adjutamos la planilla de autoliquidación.</p>
</div>

</body>
</html>