.collection {
    .collection-item.avatar {
        min-height: 64px !important;
        padding-left: 72px;
        position: relative;
        // color:  #2196f3 !important;

        .collection-title {
            font-weight: bold;
            color: #222222 !important;
        }

        .collection-subtitle {
            font-weight: normal;
            color: #444444 !important;
        }
    }

    a.collection-item {
        color: #444444 !important;
    }

    .collection-footer {
        min-height: 40px !important;
        color: #666666 !important;
    }
}


