.dropdown-content li>span {
    color: #2196f3 !important;
  }
  
  .dropdown-content li>a {
    color: #2196f3 !important;
  }
  
  .select-content li>span {
    color: #2196f3 !important;
  }
  
  .select-content li>a {
    color: #2196f3 !important;
  }

  .select-dropdown li.disabled, 
  .select-dropdown li.disabled>span, 
  .select-dropdown li.optgroup {
    color: rgba(0,0,0,0.3) !important;
    background-color: transparent;
}