.dropdown-content li>span {
    color: #0d47a1 !important;
  }
  
  .dropdown-content li>a {
    color: #0d47a1 !important;
  }
  
  .select-content li>span {
    color: #0d47a1 !important;
  }
  
  .select-content li>a {
    color: #0d47a1 !important;
  }