$primary-color: #e1a02e;
$secondary-color: #a51d1d;
$third-color: #a4a4a5;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Nunito';
}

main {
    flex: 1 0 auto;
}

header,
main,
footer {
    padding-left: 300px !important;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0 !important;
    }

    // img.responsive-logo {
    //     max-height: 54px !important;
    // }
}

body.auth-view {
    /* -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center; */

    & header,
    & main,
    & footer {
        padding-left: 0px !important;
    }

    &.auth-background {
        background-image: url("../images/bg-1.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

.bg-light-opacity-8 {
    background-color: rgba(255, 255, 255, 0.8);
  }

.iribarren-yellow {
    background-color: $primary-color !important;

    &-text {
        color: $primary-color !important;
    }
}

.iribarren-wine {
    background-color: $secondary-color !important;

    &-text {
        color: $secondary-color !important;
    }
}

.iribarren-grey {
    background-color: $third-color !important;

    &-text {
        color: $third-color !important;
    }
}