body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Nunito';
}

main {
    flex: 1 0 auto;
}

header,
main,
footer {
    padding-left: 300px !important;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0 !important;
    }

    // img.responsive-logo {
    //     max-height: 54px !important;
    // }
}

body.auth-view {
    /* -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center; */

    & header,
    & main,
    & footer {
        padding-left: 0px !important;
    }
}