.iribarren-yellow-gradient {
    background: -webkit-linear-gradient(40deg, #e1a02e, #e6ad4d) !important;
    background: linear-gradient(40deg, #e1a02e, #e6ad4d) !important;
}

.iribarren-wine-gradient {
    background: -webkit-linear-gradient(40deg, #a51d1d, #d92626) !important;
    background: linear-gradient(40deg, #a51d1d, #d92626) !important;
}

.iribarren-grey-gradient {
    background: -webkit-linear-gradient(40deg, #a2a8a9, #bdc1c2) !important;
    background: linear-gradient(40deg, #a2a8a9, #bdc1c2) !important;
}

.bdv-gradient {
    background: -webkit-linear-gradient(90deg, #fdd835, #0d47a1, #e53935) !important;
    background: linear-gradient(90deg, #fdd835, #0d47a1, #e53935) !important;
}

.red-lighten-gradient {
    background: -webkit-linear-gradient(45deg, #ef5350,#e53935) !important;
    background: linear-gradient(45deg, #ef5350, #e53935) !important;
}