.iribarren-beige-gradient {
    background: -webkit-linear-gradient(40deg, #e1a02e, #e6ad4d) !important;
    background: linear-gradient(40deg, #e1a02e, #e6ad4d) !important;
}

.iribarren-wine-gradient {
    background: -webkit-linear-gradient(40deg, #a51d1d, #d92626) !important;
    background: linear-gradient(40deg, #a51d1d, #d92626) !important;
}

.iribarren-grey-gradient {
    background: -webkit-linear-gradient(40deg, #7e7e81, #a4a4a5) !important;
    background: linear-gradient(40deg, #7e7e81, #a4a4a5) !important;
}
