.material-tooltip {
    background: -webkit-linear-gradient(40deg, #a51d1d, #d92626) !important;
    background: linear-gradient(40deg, #a51d1d, #d92626) !important;
    border-radius: 3px;
    max-width: 300px !important;
}

.backdrop {
    background: -webkit-linear-gradient(40deg, #a51d1d, #c32222) !important;
    background: linear-gradient(40deg, #a51d1d, #c32222) !important;
    border-radius: 3px;
    max-width: 300px !important;
}

.backdrop {
    background: -webkit-linear-gradient(40deg, #a51d1d, #c32222) !important;
    background: linear-gradient(40deg, #a51d1d, #c32222) !important;
    max-width: 300px !important;
}