.material-tooltip {
<<<<<<< HEAD
    background: -webkit-linear-gradient(40deg, #a51d1d, #d92626) !important;
    background: linear-gradient(40deg, #a51d1d, #d92626) !important;
    border-radius: 50px;
}

.backdrop {
    background: -webkit-linear-gradient(40deg, #a51d1d, #d92626) !important;
    background: linear-gradient(40deg, #a51d1d, #d92626) !important;
=======
    background: -webkit-linear-gradient(40deg, #a51d1d, #c32222) !important;
    background: linear-gradient(40deg, #a51d1d, #c32222) !important;
    border-radius: 25px;
    max-width: 400px;
}

.backdrop {
    background: -webkit-linear-gradient(40deg, #a51d1d, #c32222) !important;
    background: linear-gradient(40deg, #a51d1d, #c32222) !important;
    max-width: 400px;
>>>>>>> dev.semat
}